body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #666d80;
}

h1 {
    background-color: whitesmoke;
    color: #666d80;
    padding: 5px;
    border-radius: 10px;
}

#results-table {
    min-width: 33vw;
}

#page-container {
    width: 40vw;
    height: 30vw;
    border-style: none;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;
    width: 95vw;
}

.page-view-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #dddddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}
/* 
caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
} */