<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MatriXSS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <h1>Welcome to MatriXSS!</h1>
    <div class="actions-container">
        <a class="action">start new scan</a>
        <a class="action">view results</a>
        <a class="action">create polyglot</a>
    </div>
</body>
</html>